<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>Django</string>
		<key>name</key>
		<string>Clara Smith</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>M</string>
		<key>lang</key>
		<string>Python</string>
		<key>name</key>
		<string>John Harper</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>M</string>
		<key>lang</key>
		<string>Django</string>
		<key>name</key>
		<string>Sagar Shah</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>M</string>
		<key>lang</key>
		<string>React</string>
		<key>name</key>
		<string>Bob Thomas</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>React</string>
		<key>name</key>
		<string>Sophie Laura</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>Django</string>
		<key>name</key>
		<string>Sammie Lopez</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>Django</string>
		<key>name</key>
		<string>Connie Jones</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>Django</string>
		<key>name</key>
		<string>Camille Rowe</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>Python</string>
		<key>name</key>
		<string>Joana Silver</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>Django</string>
		<key>name</key>
		<string>Sasha Doe</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>React</string>
		<key>name</key>
		<string>Gaby Simone</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>React</string>
		<key>name</key>
		<string>Chloe Isabella	Chloe Isabella</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>M</string>
		<key>lang</key>
		<string>Django</string>
		<key>name</key>
		<string>George Stanley</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>M</string>
		<key>lang</key>
		<string>Django</string>
		<key>name</key>
		<string>Dominic Hope</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>Django</string>
		<key>name</key>
		<string>Sandra Bonhomme</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>React</string>
		<key>name</key>
		<string>Sophie Gerbault</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>React</string>
		<key>name</key>
		<string>Sarah Seemore</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>Django</string>
		<key>name</key>
		<string>Rachel Green</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>Django</string>
		<key>name</key>
		<string>Josephine Taylor</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>M</string>
		<key>lang</key>
		<string>Django</string>
		<key>name</key>
		<string>Jay Jiang</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>M</string>
		<key>lang</key>
		<string>React</string>
		<key>name</key>
		<string>Hunter Dickson</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>M</string>
		<key>lang</key>
		<string>React</string>
		<key>name</key>
		<string>Sam Gupta</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>M</string>
		<key>lang</key>
		<string>Django</string>
		<key>name</key>
		<string>Tom Brady</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>Django</string>
		<key>name</key>
		<string>Taylor Thompson</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>Swift</string>
		<key>name</key>
		<string>Tatianna Marshall</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>M</string>
		<key>lang</key>
		<string>Python</string>
		<key>name</key>
		<string>Eric Street</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>Python</string>
		<key>name</key>
		<string>Marine Simon</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>M</string>
		<key>lang</key>
		<string>Python</string>
		<key>name</key>
		<string>Ronald Duck</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>Python</string>
		<key>name</key>
		<string>Jennifer Lopez</string>
	</dict>
	<dict>
		<key>gender</key>
		<string>F</string>
		<key>lang</key>
		<string>Python</string>
		<key>name</key>
		<string>Jennifer Pitta</string>
	</dict>
</array>
</plist>
